@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* default styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Mulish", sans-serif;
    width: 73rem;
    margin: 0 auto;
}

/* navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.25rem 0;

}

.brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.brand h3 {
    font-size: 2.25rem;
    font-weight: 800;
    color: black;
}

.brand h3>span {
    color: rgb(255, 84, 0);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.75rem;
    color: rgb(66, 66, 71);
    font-size: 1.1rem;
    font-weight: 400;
}

.menu p:nth-of-type(1) {
    color: rgb(255, 84, 0);
}

/* banner */
.banner {
    background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url("Images/Group\ 13\ \(1\)\ \(1\).png");
    height: 500px;
    margin-bottom: 100px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 800;
}

.banner p {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    width: 42.25rem;
    font-weight: 400;
    margin: 1.5rem 0 3rem;
    text-align: center;
}

.search-container {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
    backdrop-filter: blur(4px);
}

.search-container input,
.search-container select,
.search-container button {
    width: 11rem;
    height: 3.25rem;
    border-radius: 8px;
    border: none;
    text-align: center;
    outline: none;
}

.search-container input::placeholder {
    color: rgba(19, 19, 24, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

.search-container button {
    background-color: rgb(255, 84, 0);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
}

.search-container select {
    color: rgba(19, 19, 24, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

/* popular tours */
.popular-tours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 550px;
}

.text-area {
    height: 100%;
    width: 36rem;
}

.text-area h2 {
    color: rgb(19, 19, 24);
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 0;
}

.text-area ul li+li {
    margin-top: 1rem;
}

.text-area p {
    margin: 24px 0 24px;
    line-height: 26px;
}
.text-area ul li {
    line-height: 26px;
    margin-left: 1rem;
}

.text-area p:nth-of-type(2) {
    margin-bottom: 0;
}

.text-area button {
    background-color: rgb(255, 84, 0);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    width: 11rem;
    height: 3.25rem;
    border-radius: 8px;
    border: none;
    text-align: center;
    margin-top: 32px;
}
.popular-tours .image img {
    border-radius: 16px;
}